/* Styles de base */

#titre {
    margin: 0 0 0 70px;
}

body {
    background-color: white;
    font-family: 'Bitter', serif;
}

span.next {
    position: absolute;
    bottom: 0px;
    right: -630px;
}

.panel {
    margin: 30px;
}

#accueil {
    background-color: white;
    height: 600px;
    border-radius: 5px;
    margin-top: 80px;
}

#map {
    height: 500px;
    width: 95%;
    margin-left: 20px;
}

#reserve {
    background-color: white;
    height: 550px;
    border-radius: 5px;
}

#maps_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#info_station {
    background-color: white;
    width: 100%;
}

table {
    border-color: #4CB5F5;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
}

th {
    text-align: center;
}

td,
th {
    border: 1px solid grey;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

#myCanvas {
    margin-top: 5px;
}

#valid {
    color: green;
}

.disabled {
    cursor: not-allowed;
}

#clear {
    color: red;
}

#annule {
    display: none;
    margin-left: 42%;
}

footer {
    background-color: white;
    border-radius: 5px;
}

#w3c {
    margin-left: 30px;
}


/* Images */

.idsocial {
    text-align: center;
    margin: 0 0 20px 0;
}


/* slider */

#slide-container {
    position: relative;
    width: 500px;
}

#control-container {
    position: relative;
    top: 560px;
    left: 900px;
    min-width: 130px;
    width: 135px;
    z-index: 2;
}

#slider {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*z-index: 1;*/
    display: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slide img {
    margin-top: 50px;
    margin-left: 90px;
    height: 500px;
    width: 990px;
}

.showing {
    opacity: 1;
    /*z-index: 2;*/
    display: block;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

@media (max-width: 1200px) {
    .slide img {
        height: 500px;
        width: 900px;
        margin-left: 35px;
    }
    #control-container {
        position: relative;
        top: 560px;
        left: 800px;
        z-index: 2;
    }
}


/* décalage du point de break de la barre de navigation sans a avoir modifier le fichier LESS */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .slide img {
        margin-top: 10px;
        margin-left: 10px;
        height: 500px;
        width: 730px;
    }
    #control-container {
        position: relative;
        top: 560px;
        left: 600px;
        width: 130px;
        z-index: 2;
    }
    #titre {
        margin: 0 0 0 0;
    }
    #map {
        width: 90%;
        margin: 35px;
    }
    #info_station {
        height: 500px;
    }
    #maps_info {
        margin-top: 5px;
        display: block;
    }
    table {
        width: 100%;
        border-color: grey;
    }
    td,
    th {
        border-left-color: grey;
        border-right-color: grey;
    }
    #annule {
        margin-left: 37%;
    }
}

@media (max-width: 778px) {
    body {
        width: 100%;
    }
    #accueil {
        height: 350px;
        width: auto;
    }
    .slide img {
        height: 300px;
        width: 400px;
        margin-left: 35%;
    }
    #control-container {
        position: relative;
        top: 320px;
        left: 500px;
        z-index: 2;
    }
    #map {
        width: 90%;
    }
    footer {
        margin-top: 515px;
    }
}

@media (max-width: 539px) {
    #accueil {
        height: 350px;
    }
    .slide img {
        height: 300px;
        width: 300px;
        margin-left: 10px;
    }
    #slide-container {
        position: relative;
        width: 300px;
    }
    #control-container {
        position: relative;
        top: 320px;
        left: 100px;
        z-index: 2;
        width: 150px;
    }
    #map {
        width: 100%;
        margin-left: 0px;
    }
    #map_infos {
        margin-top: 5px;
    }
    footer {
        margin-top: 580px;
        height: 150px;
    }
    #annule {
        margin-left: 23%;
    }
}